{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
    .members-section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .title {
        color: red;
    }

    .images {
        max-width: 95%;
        height: 80%;
    }
</style>

<h1>Meet Our Team of Developers</h1>

<main class="members-section">
    <div class="images-div">
        <h2>Moses Kisya</h2>
        <img class="images" src="{% static 'images/moses.jfif' %}" />
    </div>
    <div class="images-div">
        <h2>Vivian Heavenian</h2>
        <img class="images" src="{% static 'images/vivian.jfif' %}" />
    </div>
    <div class="images-div">
        <h2>Johnson Masino</h2>
        <img class="images" src="{% static 'images/masino.jfif' %}" />
    </div>
</main>
{% endblock content %}
