{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
    .members-section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .title {
        color: red;
    }

    .images {
        max-width: 98%;
        height: 80%;
    }

    .alx {
        color: blue;
        
    }

</style>

<h1>Meet Our Team of Developers</h1>

<main class="members-section">
    <div class="images-div">
        <h2>Moses Kisya</h2>
        <img class="images" src="{% static 'images/moses.jfif' %}" />
        <p>     Moses is an Ugandan Software Engineer with many years of 
            experience in building and launching tech projects. He has 
            worked in many tech companies mostly working with PHP and 
            Javasript. He is enrolled in<a href="https://www.alxafrica.com/" class="alx">alxafrica</a>
            Software Engineering Program. For this project he is focused mainly 
            on the overall development process.
        </p>
    </div>
    <div class="images-div">
        <h2>Vivian Heavenian</h2>
        <img class="images" src="{% static 'images/vivian.jfif' %}" />
        <p>
            Vivian is a Ghanian passionate software engineer who specializes mostly 
            in front end development. She has a startup company she is running currently. 
            She is enrolled in the<a href="https://www.alxafrica.com/" class="alx">alxafrica</a>
            Software Engineering Program. For this project she specializes in the front end development.
        </p>
    </div>
    <div class="images-div">
        <h2>Johnson Masino</h2>
        <img class="images" src="{% static 'images/masino.jfif' %}" />
        <p>
            Johnson is a Nigerian Fullstack deeloper but his interest and expertise in Python 
            development has made him focus more on back end development. He is also enrolled in 
            the<a href="https://www.alxafrica.com/" class="alx">alxafrica</a>Software Engineering Program. 
            He has a social tech company he is building currently and hopes to launch soon. For 
            Vimojo project, he if focused on back end development.
        </p>
    </div>
</main>
{% endblock content %}
